.gitignore~
setup_styles.sh
script-install/setup_stile.sh
README.md.backup
readmeMy.md
readmeMy.md.backup
1.old

module_packages.txt
packages_table.txt
script-install/analyze_packages-inter-color.sh
script-install/analyze_packages-inter.sh

script-install/analyze_packages_old.sh
script-install/list_packages.sh
script-install/list_packages1.sh
script-install/list_packages2.sh
script-install/list_packages3.sh
script-install/setup_styles_old.sh
"




